<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="org.techpanda.generic.ITestListenerImp"></listener>
		<listener class-name="org.techpanda.generic.AnnotationTransfer"></listener>
	</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="org.techpanda.testscrits.TestMobile"/>
      <class name="org.techpanda.testscrits.TestData"/>
      <class name="org.techpanda.testscrits.TestCreateAccount"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
